@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
:root {
	--booster-bg: #0068df;
	--booster-bg-h: #0276fc;
	--booster-border-color: #00008b;
	--theme-text-color: white;
	--theme-good-color: #39ff39;
	--theme-bad-color: red;
	--booster-border: var(--booster-border-color) solid;
	--global-font: "Noto Sans", sans-serif;
}

body {
	color: var(--theme-text-color);
	font-family: var(--global-font);
}

img {
	/*
		this is the funniest one yet:
		chrome only supports pixelated while firefox only supports crisp-edges
		they're supposed to be different but crisp-edges on firefox looks the same as pixelated on chrome
		browsers are hilarious
	*/
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

#background {
	background-image: url("/sprites/background.jpg");
	background-size: cover;
	display: block;
	filter: blur(4px) brightness(85%); /* TODO: when the new background is done, remove this */
	height: 120%;
	width: 120%;
	left: -50px;
	top: -50px;
	position: fixed;
	z-index: -10;
	overflow: hidden;
}

.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
	flex-flow: row wrap;
}

.flex-center {
	justify-content: center;
}

.flex-equal-width > * {
	flex: 1 1 0px;
}

.scrollable-col {
	overflow-y: scroll;
	overflow-x: visible;
	transition: 0.15s;
	scrollbar-width: thin;
	padding: 2px;
	scrollbar-color: transparent transparent;
}

.scrollable-col:hover {
	scrollbar-color: var(--booster-bg) transparent;
}

/* stupid webkit garbage */
.scrollable-col::-webkit-scrollbar {
	opacity: 0;
	transition: 0.2s;
	display: block;
	width: 2px;
}

.scrollable-col:hover::-webkit-scrollbar {
	opacity: 1;
	background: var(--booster-bg);
}

.full-container {
	padding: 30px;
	padding-top: 50px;
}

@media (min-width: 900px) {
	.scrollable-col {
		height: 80vh;
	}
}

.center {
	margin: auto;
}

.centertext {
	text-align: center;
}

@media (max-width: 900px) {
	.scrollable-col {
		height: auto;
	}
	
	.booster:last-child {
		margin-bottom: 30px;
	}
	
	.col-parent {
		width: 100%;
		flex-basis: 100%;
	}
}

#oat-col {
	flex-basis: 15%;
}

.scores {
	filter: drop-shadow(0 0 5px black);
	font-size: 25px;
	user-select: none;
	margin-left: auto;
	margin-right: auto;
}

#oats {
	font-size: 30px;
}

#ops {
	font-size: 15px;
}

.booster {
	user-select: none;
	margin-top: 20px;
	background: var(--booster-bg);
	border: var(--booster-border);
	border-radius: 8px;
	text-align: left;
	transition: 0.15s;
	max-width: 400px;
	cursor: pointer;
	font-size: 15px;
	display: flex;
	align-items: flex-start
}

.booster:hover {
	background: var(--booster-bg-h);
}

.booster:active {
	transform: scale(0.9);
}

.booster img {
	width: 130px;
	padding-left: 5px;
}

.booster-title {
	font-size: 20px;
}

.enough-money {
	color: var(--theme-good-color);
}

.not-enough-money {
	color: var(--theme-bad-color);
}

.cantbuy {
	opacity: 0.9;
	transform: scale(0.99);
	pointer-events: none;
}

.main-clicker {
	filter: drop-shadow(0 0 15px #5f4f3e);
	transition: 0.3s cubic-bezier(.6,-1.47,0,1.77);
	display: block;
	margin: 50px auto;
	width: 263px;
	cursor: pointer;
}

.main-clicker:hover {
	transform: scale(1.15);
	filter: drop-shadow(0 0 30px #5f5f5f);
}

.main-clicker:active {
	transform: scale(0.75);
	filter: drop-shadow(0 0 10px #3f3f2fad);
	transition: 0.2s ease;
}
