<div class="ui prompt">
	<div>
		<span class="booster-title">
			{{question}}
		</span>
		
		<div>
			{{caption}}
		</div>
		<div response="yes" class="ui button">
			{{yes_text}}
		</div>
		<div class="ui button" response="no">
			{{no_text}}
		</div>
	</div>
</div>
